################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AuthorizationService/Logs
/AuthorizationService/wwwroot
/CommentService/Logs
/EmailService/Logs
/ModuleService/Logs
/ModuleService/wwwroot
/RadElementService/Logs
AuditTrailMicroservice/Logs
/.vs
global.json
